:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Nav Bar */
.nav-wrapper {
  background-color: #f3aa21;
  padding: 10px 20px;
  position: fixed; /* navbar en la parte superior */
  top: 0;
  left: 0; /* el navbar empiezadir desde el borde izquierdo */
  width: 100%;
  z-index: 100; /* asegura que esté encima de otros elementos */
}

#nav-mobile {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto; /* Elimina los márgenes laterales */
  padding: 0;
}

#nav-mobile li {
  margin: 0 20px;
}

#nav-mobile li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#nav-mobile li a:hover {
  background-color: #d48f0e;
}
